.all_container{
	font-family: times;
  color: yellow;
  height: 80ex;
  background-color: midnightblue;
}
.navbar{
  width: 375px;
  height: 75px;
  background-color: #E62600;
  margin-left: 20px;
  margin-top: 30px;
  display: inline-block;
  font-size: 30px;
  text-align: center;
  color: gold;
  padding-top: 20px;
}
.navbar:hover{
  background-color: #33FF33;
  color: purple;
}
.title{
	text-align: center;
	font-size: 50px;
}
.britainsview{
	width: 500px;
	margin-right: 50px;
	margin-left: 40px;
}
.chinasview{
	width: 650px;
}
.pic{
  width: 400px;
}
.aboutauthors{
  width: 300px;
}
.source-link{
  color: green;
}
.sources{
  width: 200px;
}
.link{
  color: green;
}
.link:hover{
  color: purple;
}