#nav_bar{
  width: 300px;
  height: 100px;
  font-family: ;
  /* INSERT FONT HERE!
  - lele */
  background-color: orange;
  margin-left: 20px;
  display: inline-block;
}
#nav_bar:hover{
  background-color: yellow;
}
